:root {
    --vt-c-black: #000000;
    --vt-c-green: #87c639;

    --vt-c-yellow: #f5d627;
    --vt-c-yellow-dark: #e8d429;

    --vt-c-gray-transparent: #666765;
    --vt-c-gray-dark: #585858;
    --vt-c-gray-dark-transparent: #00000041;

    --vt-c-gray-light: #c9c9c9;
    --vt-c-gray-light-transparent: #8c8f80cc;



}

:root {
    --color-background-primary: var(--vt-c-yellow);
    --color-background-secondary: var(--vt-c-green);

    --color-background-header: var(--vt-c-black);
    --color-background-header-subtitle: var(--vt-c-gray-dark-transparent);
    --color-background-footer: var(--vt-c-black);
    --color-background-popup: var(--vt-c-gray-transparent);
    --color-background-card-form: var(--vt-c-gray-light-transparent);

    --color-text-buttons: var(--vt-c-yellow);
    --color-background-buttons: var(--vt-c-black);


    --color-title-header: var(--vt-c-yellow);
    --color-title-footer: var(--vt-c-gray-light);

    --color-border-input: var(--vt-c-yellow)
}

/* box sizing */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    position: relative;
    width: 100vw;
    /* font-family: ; */
    text-rendering: optimizeLegibility;
    background: linear-gradient(296.17deg, #87C639 0%, #F5D627 99.07%);
}

header {
    font-family: 'Kreon', serif;

}

h2 {
    font-family: 'Scheherazade New', serif;
}

main {
    font-family: 'Andika', sans-serif;
}

@media (max-width: 700px) {
    body {
        background: linear-gradient(339.32deg, #4A4D15 5.73%, #aac639 93.99%);
    }
}